---
import "../styles/index.css";
import Head from "../components/Head.astro";
import About from "../components/About.astro";
import PersonalProjectCard from "../components/PersonalProjectCard.astro";
import Experience from "../components/Experience.astro";
import TechnologiesCategory from "../components/TechnologiesCategory.astro";
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <Head />
    <body>
        <div class="geometric-background">
            <img
                class="geometric-background-low-res"
                src={`${import.meta.env.BASE_URL}bg-low-res.webp`}
                alt=""
            />
            <header>
                <div class="header-title">
                    <span style="text-align: left;">DENER</span>
                    <span style="text-align: right;">ROSA</span>
                </div>
                <div class="header-description">
                    <span>Fullstack developer with focus on backend.</span>
                </div>
            </header>
            <About />
        </div>
        <h1>Technologies</h1>
        <div class="technologies-category">
            <p>These are some of the technologies I've used</p>
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}client.svg`}
                title="Frontend"
                technologies={["React", "Astro", "AngularJS"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}server.svg`}
                title="Backend"
                technologies={["Java", "Spring", "NodeJS", "Hasura"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}database.svg`}
                title="Database"
                technologies={["Oracle Database", "PostgreSQL"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}robot.svg`}
                title="Automation"
                technologies={["Github Actions", "Gitlab"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}terminal.svg`}
                title="OS"
                technologies={["Windows", "Linux"]}
            />
        </div>
        <h1>Experience</h1>
        <Experience
            backgroundColor="#0267b2"
            src={`${import.meta.env.BASE_URL}embraer.webp`}
            technologies={["Java", "Oracle Database"]}
            company="Embraer"
        >
            <span
                >Colaborei com o projeto do novo avião da Embraer, o E2,
                envolvendo diretamente empresas da Alemanha e EUA. Criei
                ferramentas em Python para auxiliar na análise de logs.</span
            >
        </Experience>
        <Experience
            backgroundColor="#e9f4f0"
            src={`${import.meta.env.BASE_URL}cardif.svg`}
            technologies={["AngularJS", "Java", "Spring"]}
            company="BNP Paribas Cardif"
        >
            <span
                >Colaborei com o projeto do novo avião da Embraer, o E2,
                envolvendo diretamente empresas da Alemanha e EUA. Criei
                ferramentas em Python para auxiliar na análise de logs.</span
            >
        </Experience>
        <Experience
            backgroundColor="#715aff"
            src={`${import.meta.env.BASE_URL}pronto.png`}
            technologies={["React", "NodeJS", "Hasura", "PostgreSQL"]}
            company="Pronto Combustíveis"
        >
            <span
                >Colaborei com o projeto do novo avião da Embraer, o E2,
                envolvendo diretamente empresas da Alemanha e EUA. Criei
                ferramentas em Python para auxiliar na análise de logs.</span
            >
        </Experience>
        <div class="personal-project-cards">
            <PersonalProjectCard
                src={`${import.meta.env.BASE_URL}embraer.webp`}
                technologies={["Java", "Oracle Database"]}
            />
            <PersonalProjectCard
                src={`${import.meta.env.BASE_URL}cardif.svg`}
                technologies={["AngularJS", "Java", "Spring"]}
            />
            <PersonalProjectCard
                src={`${import.meta.env.BASE_URL}pronto.png`}
                technologies={["React", "NodeJS", "Hasura", "PostgreSQL"]}
            />
        </div>
        <div style="height: 2000px;"></div>
    </body>
</html>
