---
import "../styles/index.css";
import Head from "../components/Head.astro";
import About from "../components/About.astro";
import PersonalProjectCard from "../components/PersonalProjectCard.astro";
import Experience from "../components/Experience.astro";
import TechnologiesCategory from "../components/TechnologiesCategory.astro";
import EmailButton from "../components/EmailButton.astro";
import multE from "../images/mult-e.svg";
import psmCompany from "../images/psm-company.png";
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <Head />
    <body>
        <div class="geometric-background">
            <img
                class="geometric-background-low-res"
                src={`${import.meta.env.BASE_URL}bg-low-res.webp`}
                alt=""
            />
            <header>
                <div class="header-title">
                    <span style="text-align: left;">DENER</span>
                    <span style="text-align: right;">ROSA</span>
                </div>
                <div class="header-description">
                    <span>Fullstack developer with focus on backend.</span>
                </div>
            </header>
            <About />
        </div>
        <h1>Technologies</h1>
        <div class="technologies-category">
            <p>These are some of the technologies I've used</p>
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}client.svg`}
                title="Frontend"
                technologies={["React", "Astro", "AngularJS"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}server.svg`}
                title="Backend"
                technologies={["NodeJS", "Java", "Spring", "Hasura"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}database.svg`}
                title="Database"
                technologies={["Oracle Database", "PostgreSQL"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}robot.svg`}
                title="Automation"
                technologies={["Github Actions", "Gitlab"]}
            />
            <TechnologiesCategory
                src={`${import.meta.env.BASE_URL}terminal.svg`}
                title="OS"
                technologies={["Windows", "Linux"]}
            />
        </div>
        <h1>Experience</h1>
        <Experience
            backgroundColor="#0267b2"
            src={`${import.meta.env.BASE_URL}embraer.webp`}
            technologies={["Java", "Oracle Database"]}
            company="Embraer"
            outsource="Mult-e"
            outsourceSrc={multE}
            outsourceColor="white"
            year="2016-2020"
        >
            <span
                >I worked on system integration software for the engineering
                team at the E2 project. There I collaborated with team members
                on the US and Germany.</span
            >
        </Experience>
        <Experience
            backgroundColor="#e9f4f0"
            src={`${import.meta.env.BASE_URL}cardif.svg`}
            technologies={["AngularJS", "Java", "Spring"]}
            company="BNP Paribas Cardif"
            outsource="PSM Company"
            outsourceSrc={psmCompany}
            year="2020-2021"
        >
            <span
                >I worked on internal software in the insurance sector, which
                were used in many countries in Latin America.</span
            >
        </Experience>
        <Experience
            backgroundColor="#715aff"
            src={`${import.meta.env.BASE_URL}pronto.png`}
            technologies={["React", "NodeJS", "Hasura", "PostgreSQL"]}
            company="Pronto Combustíveis"
            year="2021-2022"
        >
            <span
                >Pronto was a startup in the oil industry. I worked on their
                management and automation systems.</span
            >
        </Experience>
        <h1>Personal Projects</h1>
        <div class="personal-project-cards">
            <PersonalProjectCard
                src={`${import.meta.env.BASE_URL}astropirates.png`}
                name="AstroPirates"
                technologies={["NodeJS", "PixiJS", "React"]}
                href="https://dener-silva.github.io/astropirates/"
            />
            <PersonalProjectCard
                src={`${import.meta.env.BASE_URL}note-to-self.png`}
                name="Note to Self (Game)"
                technologies={["Godot"]}
                href="https://t-cat-dev.itch.io/note-to-self"
            />
            <PersonalProjectCard
                src={`${import.meta.env.BASE_URL}personal-website.png`}
                name="Personal Website"
                technologies={["Astro", "Github Actions"]}
                href="https://technocatgames.com/"
            />
        </div>
        <div class="email-background">
            <div class="email-container transparent-window">
                <h1>Get in Touch</h1>
                <img
                    src={`${import.meta.env.BASE_URL}email.svg`}
                    width="200px"
                    height="100px"
                    alt=""
                />
                <EmailButton />
                <div class="contact-links">
                    <a
                        href="https://www.linkedin.com/in/dener-da-silva-rosa-899911b1/"
                        target="_blank"
                        ><img
                            src={`${import.meta.env.BASE_URL}linkedin.svg`}
                            height="27px"
                            width="27px"
                            alt="LinkedIn"
                            title="LinkedIn"
                        /></a
                    >
                    <a href="https://github.com/Dener-Silva/" target="_blank"
                        ><img
                            src={`${import.meta.env.BASE_URL}github.svg`}
                            height="30px"
                            width="30px"
                            alt="GitHub"
                            title="GitHub"
                        /></a
                    >
                </div>
            </div>
            <span class="copyright-notice">
                <a
                    href="https://www.freepik.com/free-photo/nature-colorful-landscape-dusk-cloud_1088375.htm"
                    >Image by mrsiraphol</a
                > on Freepik
            </span>
        </div>
    </body>
</html>
