---
const { src, title, position } = Astro.props;
import "../styles/about-card.css";
---

<div class="about-card" style={`left: ${position[0]}px; top: ${position[1]}px`}>
    <div class="title">
        <img src={src} width="30px" height="30px" />
        <span style="flex-grow: 1;">{title}</span>
        <div class="x">
            <img
                src=`${import.meta.env.BASE_URL}x.svg`
                width="15px"
                height="15px"
            />
        </div>
    </div>
    <div class="content">
        <slot />
    </div>
</div>
