---
const title = "Dener Rosa's Portfolio";
const description =
    "Fullstack developer with focus on backend. I value simple and intuitive solutions.";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
        rel="preload"
        href={`${import.meta.env.BASE_URL}bg-low-res.webp`}
        as="image"
    />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit&family=Work+Sans&display=swap"
        rel="stylesheet"
    />
    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- Open Graph -->
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL("og-image.png", Astro.site)} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tcatdev" />
    <meta name="twitter:creator" content="@tcatdev" />
    <!-- Script to avoid horizontal scroll -->
    <script>
        function setClientWidth(): void {
            document.documentElement.style.setProperty(
                "--client-width",
                `${document.documentElement.clientWidth}px`
            );
        }
        setClientWidth();
        window.addEventListener("resize", setClientWidth);
    </script>
</head>
