---
const { src, name, technologies, href } = Astro.props;
import "../styles/personal-project-card.css";
import TechnologyIcon from "./TechnologyIcon.astro";
---

<a class="personal-project-card" target="_blank" href={href}>
    <img src={src} alt="" />
    <div class="personal-project-technologies">
        {
            technologies.map((technology: string) => {
                return <TechnologyIcon name={technology} title={technology} />;
            })
        }
    </div>
    <span class="personal-project-name">{name}</span>
</a>
