---
const { src, name, technologies, href } = Astro.props;
import "../styles/personal-project-card.css";
import TechnologyIcon from "./TechnologyIcon.astro";
---

<a class="personal-project-card" target="_blank" href={href}>
    <img class="personal-project-img" src={src} alt="" />
    {
        href && (
            <img
                class="personal-project-new-window"
                width="30px"
                height="30px"
                src={`${import.meta.env.BASE_URL}new-window.svg`}
                alt=""
            />
        )
    }
    <div class="personal-project-technologies">
        {
            technologies.map((technology: string) => {
                return <TechnologyIcon name={technology} title={technology} />;
            })
        }
    </div>
    <span class="personal-project-name">{name}</span>
</a>
